bin/
.vs
tools/
Arduino/
/project_truestdio/board_sample
/project_truestdio/.metadata/.plugins/org.eclipse.core.resources/.history
/_opsolete/api-platform
/project_scanlib_usb_api/third/temp/nana/v142_Debug_x64
