[submodule "project_truestdio/tof-depth-map-gen-revision/third/doctest"]
	path = project_truestdio/tof-depth-map-gen-revision/third/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "project_truestdio/tof-depth-map-gen-revision/third/uTest"]
	path = project_truestdio/tof-depth-map-gen-revision/third/uTest
	url = https://github.com/HappyNY/uTest.git
[submodule "project_truestdio/tof-depth-map-gen-revision/third/uEmbedded"]
	path = project_truestdio/tof-depth-map-gen-revision/third/uEmbedded
	url = https://github.com/HappyNY/uEmbedded.git
[submodule "project_scanlib_usb_api/third/uEmbedded"]
	path = project_scanlib_usb_api/third/uEmbedded
	url = git@github.com:HappyNY/uEmbedded.git
[submodule "project_scanlib_usb_api/third/nana"]
	path = project_scanlib_usb_api/third/nana
	url = https://github.com/cnjinhao/nana.git
[submodule "project_scanlib_usb_api/third/JUCE"]
	path = project_scanlib_usb_api/third/JUCE
	url = https://github.com/WeAreROLI/JUCE.git
[submodule "project_scanlib_usb_api/third/fltk"]
	path = project_scanlib_usb_api/third/fltk
	url = https://github.com/fltk/fltk.git
[submodule "project_scanlib_usb_api/third/gflags"]
	path = project_scanlib_usb_api/third/gflags
	url = https://github.com/gflags/gflags.git
[submodule "projects/tof-depth-map-gen-old/third/uEmbedded"]
	path = projects/tof-depth-map-gen-old/third/uEmbedded
	url = git@github.com:kang-sw/uEmbedded.git
[submodule "projects/depscan-firmware-rtos/Third/uEmbedded"]
	path = projects/depscan-firmware-rtos/Third/uEmbedded
	url = git@github.com:kang-sw/uEmbedded.git
[submodule "projects/depscan-firmware-rtos/Third/EASTL"]
	path = projects/depscan-firmware-rtos/Third/EASTL
	url = git@github.com:kang-sw/EASTL.git
[submodule "projects/scanlib_host_app/third/--foce"]
	path = projects/scanlib_host_app/third/--foce
	url = https://github.com/gflags/gflags.git
[submodule "projects/scanlib_host_app/third/--force"]
	path = projects/scanlib_host_app/third/--force
	url = git@github.com:kang-sw/nana.git
[submodule "projects/scanlib_host_app/third/gflags"]
	path = projects/scanlib_host_app/third/gflags
	url = https://github.com/gflags/gflags.git
[submodule "projects/scanlib_host_app/third/nana"]
	path = projects/scanlib_host_app/third/nana
	url = git@github.com:kang-sw/nana.git
[submodule "projects/scanlib_host_app/third/SLIC_CUDA"]
	path = projects/scanlib_host_app/third/SLIC_CUDA
	url = https://github.com/fderue/SLIC_CUDA.git
